body 
{
    color: rgb(54, 20, 20);
    text-align: center;
    font-family: "Courier";
    font-weight: 800;
}

#container
{
    width: 200px;
    padding: 1rem;
    text-align: left;
    border: 1px solid rgb(102, 32, 192);
    margin: 0 auto;
}

#container h1
{
    font-size: 20px;
}